@font-face {
  font-family: "72";
  src: url("assets/fonts/72/72-Regular.woff") format("woff"); /* Bold, Light, Regular available in woff and woff2 */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SAP-icons";
  src: url("assets/fonts/sap-icons/SAP-icons.woff") format("woff"); /* available in woff, woff2 and ttf */
  font-weight: normal;
  font-style: normal;
}
